body{
    background-color:dimgray ;
    padding: 0px;
    color:aliceblue
}
input, select,button{
    margin-top: 0.2em;
    background-color:  dimgray; 
    border: black solid 3px;
    color:aliceblue
}
hr{
    color:black;
    background-color:black;
    height: 1.2px;
}

div{
    min-height: fit-content!important;
    min-width: fit-content!important;
    word-wrap: break-word;
}

#center_align {
    width: 170px;
    margin: 0 auto;
    margin-top: 5%;
    h1{text-align: center;}
}
#center_align_home {
    width: 300px;
    margin: 0 auto;
    margin-top: 5%;
}
h1{text-align: center;}

#homework_button, #create_button, #display_button{height: 95px; width:  95px; }
#home_button{
    margin: 10px;
    position: fixed;
    bottom: 0px;
    right: 0px; 
}
#user_button{
    margin: 10px;
    position: fixed;
    top: 0px;
    right: 0px; 
}



.box, .box-nb{height: 59.5vh;}
.box-long, .box-long-nb {height: 89vh;}
.box-small, .box-small-nb{height: 29.5vh;}
.box-medium, .box-medium-nb{height: 35.6vh;}
.box-smaller, .box-smaller-nb{height: 26.7vh;}
.box-smallest{height: 19.5vh;}
.box-tiny{height: 10.1vh;}

.box-tiny,.box-smallest,.box,.box-small,.box-long,.box-medium,.box-smaller{border: 3px black solid; padding: 1em;}
.box-nb,.box-small-nb,.box-long-nb,.box-medium-nb,.box-smalle-nbr{border: 3px yellowgreen solid; padding: 1.1em;}